In [1]:
a=6

In [2]:
a

6

## Heart disease project

In [4]:
import pandas as pd

### CSV-COMMA SEPARTED VALUES

In [ ]:
df=pd.read_csv("heart-disease.csv")

The following table shows heart disease information for patients

In [9]:
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [1]:
df.age.value_counts().plot(kind="bar")

NameError: name 'df' is not defined

In [11]:
import matplotlib.pyplot as plt

![](6-step-ml-framework.png)

In [12]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is F6F0-5B4F

 Directory of C:\Users\saxen\ML

24-02-2024  20:39    <DIR>          .
24-02-2024  18:29    <DIR>          ..
24-02-2024  20:29    <DIR>          .ipynb_checkpoints
24-02-2024  18:48           332,025 6-step-ml-framework.png
24-02-2024  18:23    <DIR>          env
24-02-2024  20:39            23,423 Example.ipynb
24-02-2024  18:48            11,328 heart-disease.csv
24-02-2024  18:33             2,300 Untitled.ipynb
               4 File(s)        369,076 bytes
               4 Dir(s)  125,590,249,472 bytes free

In [13]:
dir